@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Job";
}


@model JobPortalDI.ProjModel.Job

<style>
    #img1 {
        height: 150px;
        width: 200px;
        border: 1px solid black;
        border-radius: 2px;
    }

    #p1 {
        text-indent: 30px;
        color: brown;
        font-weight: 700;
    }

    #p2 {
        text-indent: 30px;
        color: #000;
        font-style: italic;
    }

    #del-btn {
        background-color: #ff0000;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
    }

    #edt-btn {
        background-color: #009933;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
    }
</style>

<br>

<img id="img1" src="~/image/viewjob.gif">

<br>
<br>

<p id="p1">Company Name: </p><p id="p2">@Model.Company</p>
<br>

<p id="p1">Job Title: </p><p id="p2">@Model.JobTitle</p>
<br>

<p id="p1">Description: </p><p id="p2">@Model.Description</p>
<br>

<p id="p1">Salary offered: </p><p id="p2">@Model.Salary</p>
<br>

<p id="p1">Location: </p><p id="p2">@Model.Location</p>
<br>

<p id="p1">HR Contact: </p><p id="p2">@Model.ContactUser</p>
<br>

<p id="p1">Email: </p><p id="p2">@Model.ContactEmail</p>
<br>
<br>

@if (ViewBag.Usertype == "Admin")
{
    <p>
        <a id="edt-btn" asp-controller="Edit" asp-action="EditJob" asp-route-id="@Model.Id">Edit</a>
        &emsp;&emsp;
        <a id="del-btn" asp-controller="Delete" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        &emsp;&emsp;
        <a asp-controller="Login" asp-action="GoBack">&lt;&lt;Go back</a>
    </p>
}


@if (ViewBag.Usertype == "User")
{
<p>
    <a id="edt-btn" asp-controller="ApplyJob" asp-action="ApplyJob" asp-route-id="@Model.Id">Apply</a>
    &emsp;&emsp;
    <a asp-controller="Login" asp-action="GoBack">&lt;&lt;Go back</a>
</p>
}




<br>
<br>
<br>
<br>